<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <img src="/img/about-logo.png" alt="frank denney logo">
        <h3 class="col-md-5 center-block section-subheading">Hello! I'm Frank Denney, digital designer and photographer with a current focus on Sports Design, Digital Art, and web Design. I was born in Korea, raised on a farm in Iowa, and currently calling Minnneapolis home. I love being challenged, crafting beautlful solutions, and ultimately making people happy. Great results come from collaboration.  </h3>
      </div>
    </div>
  </div>
</section>
