<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <img src="/img/about-logo.png" alt="frank denney logo">
        <h3 class="col-md-5 center-block section-subheading">Digital Designer and Photographer with a passion for beautiful, meaningful design. Loves hard work, craftmanship, and making people happy. Born in South Korea, raised on a farm in Iowa, and currently residing in the Twin Cities. Lover of sports, Daft Punk, and digital media. </h3>
      </div>
    </div>
  </div>
</section>
