<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <img src="/img/about-logo.png" alt="frank denney logo">
        <h3 class="col-md-5 center-block section-subheading">Hey there! My name is Frank Denney. I am a Digital Designer and Photographer from South Korea, raised on a farm in Iowa, currently residing in Minneapolis, MN. I believe in strategy, sweating the details, and more than anything else I believe in making people happy. Over the past decade my main focus has been in sports design working on web and mobile user interfaces, brand identities, bicycles, snowboards, apparel and digital art. I've also had the opportunity to build brands and meaningful visual solutions for a wide variety of other great technology startups, established businesses, and mass retailers as well. In my spare time I enjoy exploring the city on my bike, behind a camera lens, and alongside my girlfriend. I love meeting new people, let's chat! </h3>
      </div>
    </div>
  </div>
</section>
