<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">

  <!-- Navigation -->
    <nav class="navbar navbar-default">
      <div class="container center-block">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <a class="navbar-brand page-scroll" href="#page-top">
            <img src="img/logos/logoWordmark.png" class="logo">
          </a>
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header class="featurette">
      <div class="container" style="background-image: url('img/portfolio/{{ post.background-img }}');">
        <div class="intro-text">
          <h1 class="intro-heading">{{ post.title }}</h1>
          <hr/>
          <h2 class="intro-lead-in">{{ post.subtitle }}</h2>
          <p class="intro-excerpt">{{ post.description }}</p>
        </div>
        <div class="intro-image">
          <img src="/img/portfolio/{{ post.intro-image }}">
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            {{ post.content }}
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
